body {
  font-family: Helvetica Neue, Helvetica, san-serif;
  font-size: 15px;
}

.post-body {
  margin: 10px 0;
  padding: 20px 0 10px 20px;
  position: relative;
  &:before {
    content: "slices";
    display: inline-block;
    background-color: #EEE;
    color: #888;
    font-size: 10px;
    padding: 3px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.post-body-slice {
  border: 1px dotted #EEE;
  min-height: 50px;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
  &:before {
    content: 'slice-type: ' attr(data-slice-type);
    display: inline-block;
    background-color: #EEE;
    color: #888;
    font-size: 10px;
    padding: 3px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.post-body-slice-raw {
  font-family: monospace;
  margin-top: 20px;
  color: #888;
  font-size: 10px;
}

.post-body-references {
  border: 1px dotted #EEE;
  min-height: 50px;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
  &:before {
    content: 'post references';
    display: inline-block;
    background-color: #EEE;
    color: #888;
    font-size: 10px;
    padding: 3px;
    position: absolute;
    left: 0;
    top: 0;
  }
}
  .post-reference-title {
    font-family: Helvetica;
    font-size: 15px;
  }

.author-reference {
  border: 1px solid #CCC;
  position: relative;
}

  .author-reference-name {
    position: absolute;
    left: 0;
    top: 0;
  }

  .author-reference-photo {
    max-width: 100px;
    height: auto;
  }


.author-photo {
  width: 200px;
  height: auto;
}
