{{#each model as |post|}}
  {{post-debug post=post}}
{{/each}}


Same post:
<a href="/post/ember-data-prismic-development">This link should redirect to /post/development-has-started</a>
<a href="/post/development-has-started">This link should go directly to /post/development-has-started</a>
